/* 1. SHOPPING-CART */

.prod-img{
    padding-left:20px;
}

.shopping-cart{
	padding-bottom: 50px;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #59ab6e;
}

.shopping-cart .items{
	margin-left:15px;
	margin-right:15px;
	border-bottom:1px solid #ccc;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
    margin-top:10px;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 5px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
	text-align:right;
}

.shopping-cart .items .product .info .price{
	margin-top: 29px;
    text-align:right;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #59ab6e;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .summary-item:last-of-type{
	padding-bottom: 10px;
	padding-top: 25px;
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}


@media (min-width: 768px) {
	
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info-insert {
		padding-top: 0px !important;
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

    .shopping-cart .items .product .info .product-name{
        margin-top:0px;
    }
	

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: right; 
		max-width:80px;
	}
	
}
/* 1 END OF SHOPPING-CART */

/* 2 PRODUCTS PAGE */
.product-wap .card-img{
	height:200px;
}

.addProd{
	margin:25px;
	margin-left:0px;
	color:#fff;
}

@media (min-width: 576px){
.modal-dialog {
	max-width:700px !important;
}
}
/* 2 END OF PRODUCTS PAGE */
