<!DOCTYPE html>
<html lang="en">

<head>
    <title>ONER SPG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="apple-touch-icon" href="/static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/onertp.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/slick-theme.css">
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    {% block js %} {% endblock%}

    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/onertp.js"></script>
    <script src="/static/assets/js/custom.js"></script>
</body>


</html>