<!DOCTYPE html>
<html lang="en">

<head>
    <title>ONER SPG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" href="/static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/onertp.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/slick-theme.css">
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="/static/assets/css/default.css">
    <link rel="stylesheet" href="/static/assets/css/default.date.css">
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/picker.js"></script>
    <script src="/static/assets/js/picker.date.js"></script>
    <script src="/static/assets/js/picker.time.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>


    <script>
        $(function() {

            var m = moment();
            $('.pick-date-global').bootstrapMaterialDatePicker({
                format: 'DD-MM-YYYY HH:mm',
                minDate: moment(),
                daysOfWeekDisabled: [1,2,3,4,5]
                //maxDate: moment().add(365, 'days')
            });
            //get the date after picking it
            $('.pick-date-global').on('change', function(e, date) {
                console.log($(".pick-date-global").val());
                var date = $(".pick-date-global").val();
                $.ajax({
                    url: '/updatedatetime',
                    data: JSON.stringify(date),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    success: function(response) {
                        location.reload(true);
                    },
                    error: function(error) {
                        console.log(error);
                    }

                });
            });
        });
    </script>
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <main>
        <div class="wrapper" onclick="getDateTime()">
            <button class="btn btn-danger pick-date-global" onclick="getDateTime()" id="calendar-slide"><i class="fa fa-calendar-alt" aria-hidden="true"></i></button>
        </div>
        {% block main %}{% endblock %}
    </main>
    <footer class="bg-dark" id="onerspg_footer">
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>




    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% block js %} {% endblock%}
    <script src="/static/assets/js/onertp.js"></script>
    <script src="/static/assets/js/custom.js"></script>
</body>


</html>