{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block main %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var r;
    //var r2;

    function confirmArrivals(product) {
        inputs = document.getElementById("form" + product).elements;
        var values = [];

        for(var i = 0; i<inputs.length; i++){
            var obj = {"qty": inputs[i].value, "product_id": inputs[i].id};
            values.push(obj);
        }

        $.ajax({
            url: '/confirmarrived',
            data: JSON.stringify(values),
            contentType: 'application/json;charset=UTF-8',
            type: 'POST',
            success: function(response) {
                location.reload(true);
            },
            error: function(error) {
                console.log(error);
            }

        });
    }

    $(document).on('show.bs.modal', '#arrivalModal', function() {
        var modal = $(this)
            //modal.find('.modal-title').text('Please, check the following arrivals for the farmer '+r1+ ' '+r2);

    });
    
</script>

<body>
    {% for farmerproduct in farmerproducts %}
    <div class="modal fade" id="arrivalModal{{farmerproduct}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align:center">Please, check the following arrivals for the farmer</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal body" style="text-align:center"></div>
                <div class="container-fluid nolateral tb-spacing">
                    <div class="row">
                        <div class="table-responsive">
                            <form method="POST" id=form{{farmerproduct}} action="{{ url_for('other.confirmarrivals') }}">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center nomobile">Product Name</th>
                                        <th class="text-center">Delivered Quantity</th>
                                        <th class="text-center">Arrived Quantity</th>
                                        <!-- <th class="text-center">Check Arrival</th> -->
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for product in farmerproducts[farmerproduct] %}

                                    <tr>
                                        <td class="text-center">{{product.name}}</td>
                                        <td class="text-center">{{product.quantity}} Kg</td>
                                        <td><input style="width:30%" type="number" class="numclass" id="{{farmerproduct}}_{{product.id}}" name="inputNumber" value="{{product.quantity}}" step="0.1" min="0"> Kg</td>
                                        <!-- <td class="text-center">
                                            <button type="button" class="btn btn-outline-success">
                                                <i class="far fa-check-square"></i>
                                            </button>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </form>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content:center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="confirmArrivals({{farmerproduct}})" data-dismiss="modal">Confirm Arrivals</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid col-md-12">
        <p>&nbsp;</p>
        <h1 style="text-align:center">Arrival Confirmation</h1>
        <p>&nbsp;</p>
        <div class="container-fluid" id="page-content">
            <div class="padding">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <!-- <p>&nbsp;</p> -->
                                
                                <div class="container-fluid nolateral tb-spacing">
                                    <div class="row">
                                        <div class="main-card mb-3 card">
                                            <div class="table-responsive">
                                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Farmer Company</th>
                                                            <th class="text-center">Farmer Name</th>
                                                            <th class="text-center">Farmer Surname</th>
                                                            <th class="text-center">Check Arrival</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for farmer in farmers %}
                                                        <tr>
                                                            <td class="text-center">{{farmer[2].company}}</td>
                                                            <td class="text-center">{{farmer[2].name}}</td>
                                                            <td class="text-center">{{farmer[2].surname}}</td>
                                                            <td class="text-center">
                                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#arrivalModal{{farmer[2].id}}">
                                                                    <i class="fas fa-eye"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>

                <body>
                    {% endblock %}