{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block main %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function updateStatus(orderId) {
        var status = "DELIVERING";
        var redirect = "managerorders"
        $.ajax({
            url: '/updatestatus/' + orderId + '/' + status + '/' + redirect,
            type: "post",
            success: function(data) {
                location.reload(true);
            }
        });
    }
</script>
<!-- <script>
    function sendmail(){
        $.ajax({
            url:'/sendmail',
            type:"get",
            success:function (data){
                location.reload(true);
            }
        });
    }
</script> -->
<style>
    tbody tr:nth-child(odd) {
        background-color: #d6f0c7;
    }
    
    tr {
        height: 53.6px;
    }
    
    td {
        height: 53.6px;
    }
</style>

<body>
    <div class="container-fluid col-md-12">
        <p>&nbsp;</p>
        <h1 style="text-align:center">Check Deliverable Orders</h1>
        <p>&nbsp;</p>
        <div class="container-fluid" id="page-content">
            <div class="padding">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="container-fluid nolateral tb-spacing">
                                    <div class="row">
                                        <div class="main-card mb-3 card">
                                            <div class="table-responsive">
                                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center nomobile">Order ID</th>
                                                            <th class="text-center">Client</th>
                                                            <th class="text-center">Shipping Location</th>
                                                            <th class="text-center">Requested Delivery</th>
                                                            <th class="text-center">Actual Delivery</th>
                                                            <th class="text-center">Total Amount</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for order in orders %}
                                                        <tr>
                                                            <td class="text-center text-muted nomobile">
                                                                #{{order[0].order_id}}</td>
                                                            <td class="text-center">{{order[1].email}}</td>
                                                            <td class="text-center">{{order[0].delivery_address}}</td>
                                                            <td class="text-center">
                                                                {{order[0].requested_delivery_date[0:10]}}</td>
                                                            <td class="text-center">{{order[0].actual_delivery_date[0:10]}}</td>
                                                            <td class="text-center">€ {{'%.2f' % order[0].total}}</td>
                                                            <td class="text-center">
                                                                <div class="badge badge-success">{{order[0].status}}</div>
                                                            </td>
                                                            <td>
                                                                {% if order[0].status == "PREPARED" %}
                                                                <button onClick="updateStatus({{order[0].order_id}});" type="button" class="btn btn-outline-success">
                                                                    <i class="fas fa-shipping-fast"></i>
                                                                </button> {% endif %}
                                                                <!-- <button onClick="sendmail();" type="button" class="btn btn-outline-success">
                                                                    <i class="fas fa-wallet"></i>
                                                                </button> -->
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}