{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block main %}
<script>
    $(function() {
        $('#env').change(function() {
            var current_status = $(this).prop('checked');
            $.ajax({
                url: "/get_toggled_status",
                type: "get",
                data: {
                    status: current_status
                },
                success: function(response) {
                    $(".status").html(response);
                },
                error: function(xhr) {
                    //Do Something to handle error
                }
            });
        });
    })

    function prodQty(amount, productID) {
        //$.post('/updatequantity/' + productID + '/' + amount)
        $.ajax({
            url: '/updatequantity/' + productID + '/' + amount,
            type: "post",
            success: function(data) {
                location.reload(true);
            }
        });
    }

    function shippingMethod(value) {
        $.ajax({
            url: '/updateshipping/' + value,
            type: "post",
            success: function(data) {
                location.reload(true);
            }
        });
    }

    function emptyCart() {

    }
</script>

<form method="POST" action="/">
    <section class="shopping-cart">
        <div class="container">
            <div class="block-heading">
                <h2>Shopping Cart</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            {% if values %} {% for val in values["products"] %}
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a target="_blank" href="{{ url_for('other.singleproduct', product_id = val['product_id']) }}"><img class="prod-img img-fluid mx-auto d-block image" src="/static/shop_imgs/{{val['url']}}">
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a class="text-success text-decoration-none" href="{{ url_for('other.singleproduct', product_id = val['product_id']) }}">{{val['name']}}</a>
                                                        <div class="product-info">
                                                            <div>Farmer: <span class="value">{{val['farmer']}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 offset-md-1 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <div class="input-group ">
                                                        <input id="quantity" type="number" onchange="prodQty($(this).val(),{{val['pib_id']}});" min="1" value="{{val['quantity']}}" class="form-control quantity-input">
                                                        <button class="btn btn-danger input-group-text" onClick="prodQty(0,{{val['pib_id']}});">x</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>€ {{val['price']}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">€ {{values['subtotal']}}</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">€ {{session.get("shipping",0)}}</span></div>
                            <div><span class="text">
                            <select class="form-select" id="shipping-method" onchange="shippingMethod($('#shipping-method').val());" aria-label="Select Shipping">
                            <option value="store" {% if session.get("shipping",0) == 0 %}selected{% endif %}>Store Pick-Up - 0€</option>
                            <option value="home" {% if session.get("shipping",0) != 0 %}selected{% endif %}>Standard Delivery - 7.50€</option>
                          </select></div>

                        <div class="summary-item"><span class="text">Total</span><span class="price">€ {% if values %}{{ values["total"] }}{% else %}0{% endif %}</span></div>
                            <button type="button" class="btn btn-success btn-lg btn-block">Checkout</button>

                            <button type="button" onclick="emptyCart()" class="btn btn-danger btn-lg btn-block float-right "><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}