{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block main %}
<head>
  
  <!--vedi se ci devi mettere qualcosa
  codice svg per il + col cerchio:
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
  -->

</head>

<body>
<div class="container col-md-6">
  <form class="form-container form-container-spacing" method="POST" action="/topup">
    <h2 class="form-signin-heading">Wallet top-up</h2>

    <div id = "email_back" >
      Your email is: admin@manager.com
    </div>
    <div id="output"></div>
    <p class="output-statement">{{output}}</p>

    <div id = "balance_response" >
      Your balance is: $10
    </div>
    <div id="output"></div>
      <p class="output-statement">{{output}}</p>
    {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
  </form>
</div>
<body>

{% endblock %}