{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block main %}
<head>
  <script type = "text/javascript">
    function visable_balance(){
      var bala = document.getElementById('balance_response');
      if (res.data.hasOwnProperty('balance')) {
        bala.style.display = 'block';
      }else{
        bala.style.display = 'none';
      }
    }
  </script>
</head>

<body>
<div class="container col-md-6">
  <form class="form-container form-container-spacing" method="POST" action="/topup">
    <h2 class="form-signin-heading">Wallet top-up</h2>

    <div id = "email_back" >
      Your email is: admin@manager.com
    </div>
    <div id="output"></div>
    <p class="output-statement">{{output}}</p>

    <div id = "balance_response" >
      Your balance is: $10
    </div>
    <div id="output"></div>
      <p class="output-statement">{{output}}</p>
    {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
  </form>
</div>
<body>

{% endblock %}